body {
	margin: 0;
	padding: 0;
	background-color: #3B4664;
}
.container1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.calctext  {
	display: flex;
}
.frontrow {
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.range-slider {
	display: flex;
	flex-direction: column;
}
.calc {
	display: flex;
	flex-direction: column;
}
.bigcal {
	font-size: 30px;
	font-weight: 540;
	transform: translate(0px,15px);
}
.ott {
	transform: translate(5px,12px);
}
.color {
	color: #FBFEFF;
}
#theme {
	font-size: 12px;
	transform: translate(110px,22px);
}
.btnrw1 {
	padding-top: 14px;
}
.bg {
	background-color: #181F32;
	height: 100px;
	width: 400px;
	border-radius: 8px;
	/* display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis; */
}
.bg:hover {
	background-color: #04060a;
}
.text {
	display: flex;
	flex-direction: column;
}
.digit {
	background-color: #232E43;
	height: 340px;
	width: 400px;
	border-radius: 8px;
	margin-top: 12px;
}
.buttonrow {
	margin: 15px 15px;
	display: flex;
	justify-content: space-between;
}
.num {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
	background-color: #EAE3DB;
	color: #464958;
}
.num:hover {
	background-color: #cecece;
	color: #4d4f5a;
}
.equal {
	background-color: #D13F30;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
	width: 48%;
}
.equal:hover {
	background-color: #ff1900;
	color: #d1d1d1;
}
.reset {
	background-color: #647299;
	width: 48%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
}
.reset:hover {
	background-color: #738aca;
	color: #d6d6d6;
}
.white {
	color: #F9FCFF;
}
.bg-grey {
	background-color: #647299;
}
.bg-grey:hover {
	background-color: #738aca;
	color: #d6d6d6;
}
#random {
	color: #FEFFFA;
	align-self: flex-end;
    font-size: 50px;
    padding-right: 15px;
    font-weight: 550;
    margin-top: 5px;
    padding-bottom: 10px;
}
#data {
	color: #FEFFFA;
	font-size: 12px;
	align-self: flex-end;
	padding-right: 15px;
}
.range-slider__range {
    -webkit-appearance: none;
    width: 58px;
    height: 20px;
    border-radius: 25px;
    background: #d7dcdf;
    outline: none;
}
.range-slider
{
	display: flex;
}

